body {
    margin: 0;
    background-color: #0D0B00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D0B00;
    padding: 20px;
    margin: 10% 5%;
    position: relative; 
}

.top-section, .bottom-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top-section {
    height: 150px; 
    position: relative; 
}

.box {
    width: 30%;
    height: 150px;
    background-color: lightgray;
    border-radius: 15px;
    border: 5px solid yellow;
}

.middle-section {
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.center-box {
    width: 90%;
    height: 200px;
    background-color: #0D0B00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.center-box img {
    max-width: 100%;
    height: auto;
}

.top-left {
    height: 200px;
    width: 600px;
}

.top-center {
    height: 150px;
}

.top-right {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.bottom-left {
    height: 200px;
    width: 600px;
}